PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=Inséré_USER
DB_PASSWORD=Inséré_MDP
DB_NAME=gestion_event

# Origine autorisee pour le CORS (l'URL de ton frontend Vite)
CLIENT_ORIGIN=http://localhost:8443
